body {
     background: #FFF;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
}

#header {
     background: #696969;
     color: #D3D3D3;
     margin: auto auto;
     width: 80%;
     height: 18px;
}
 #container {
     background: #FFD700;
     color: #FFFAFA;
     font-size: 13pt;
     margin: auto auto;
     text-align: center;
     width: 80%;
     height: 400px;
}
 
#navigation {
     background: #FF4500;
     color: #FFFAFA;
     font-size: 13pt;
     float: left;
     width: 20%;
     height: 400px;
}
 
#content {
     background: #DC143C;
     color: #FFFAFA;
     font-weight: 900;
     margin: auto auto;
     width: 80%;
     height: 40px;
}
 
#footer {
    background: #00BFFF;
	width: 100%;
	height: 40px;
}

a{
color:Snow;
}
a:link {
 color: #FF1493; 
 text-decoration: none;
 }
a:hover {
 color:#FFFF00;
 text-decoration: underline;
 }